/* start container9 (دیجی پلاس) */

div.wrapper > div.container9 {
  width: 1304px;
  height: 388px;
  margin: 20px 20px;
  background-color: #941b80;
  border-radius: 20px;
  padding-top: 16.5px;
}

div.wrapper > div.container9 > div.con9-left {
  display: inline-block;
  vertical-align: top;
  width: 876px;
  height: 356px;
  margin-left: 17px;
}

div.wrapper > div.container9 > div.con9-left > div {
  display: inline-block;
  vertical-align: top;
  width: 436px;
  height: 100%;
  background-color: white;
}

div.wrapper > div.container9 > div.con9-left > div:nth-of-type(1) {
  border-radius: 10px 0 0 10px;
}

div.wrapper > div.container9 > div.con9-left > div:nth-of-type(2) {
  border-radius: 0 10px 10px 0;
}

div.wrapper > div.container9 > div.con9-left > div > div {
  width: 100%;
  height: 66px;
  padding-left: 20px;
}

div.wrapper > div.container9 > div.con9-left > div > div > a {
  font-size: 14px;
  font-family: sans2;
  color: #b12ba4;
  line-height: 66px;
}

div.wrapper > div.container9 > div.con9-left > div > div > a > i {
  margin-right: 8px;
}

div.wrapper > div.container9 > div.con9-left > div > div > h4 {
  display: inline-block;
  vertical-align: top;
  font-family: sans;
  font-size: 17px;
  line-height: 66px;
  color: #080a38;
  margin-left: 150px;
  position: relative;
}

div.wrapper > div.container9 > div.con9-left > div > div > h4 > i {
  color: #b12ba4;
  font-size: 14px;
  position: absolute;
  top: calc(50% - 14px / 2);
}

div.wrapper
  > div.container9
  > div.con9-left
  > div
  > div
  > h4
  > i:nth-of-type(1) {
  right: -25px;
}

div.wrapper
  > div.container9
  > div.con9-left
  > div
  > div
  > h4
  > i:nth-of-type(2) {
  right: -35px;
}

div.wrapper > div.container9 > div.con9-left > div:nth-of-type(2) > div > h4 {
  display: inline-block;
  vertical-align: top;
  font-family: sans;
  font-size: 17px;
  line-height: 66px;
  color: #080a38;
  margin-left: 210px;
  position: relative;
}

div.wrapper
  > div.container9
  > div.con9-left
  > div:nth-of-type(2)
  > div
  > h4
  > i:nth-of-type(2) {
  right: -40px;
}

div.wrapper > div.container9 > div.con9-left > div > div.con9-img {
  width: 500px;
  height: 121px;
  margin: 0 auto;
  text-align: left;
}

div.wrapper > div.container9 > div.con9-left > div > div:nth-of-type(3) {
  margin-top: 28px;
}

div.wrapper > div.container9 > div.con9-left > div > div.con9-img > div {
  display: inline-block;
  vertical-align: top;
  width: 116px;
  height: 100%;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

div.wrapper > div.container9 > div.con9-left > div > div.con9-img > div > img {
  width: 116px;
  height: 116px;
}

div.wrapper > div.container9 > div.con9-left > div > div.con9-img > div > div {
  width: fit-content;
  height: 26px;
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
  position: absolute;
  right: 0px;
  bottom: -2px;
}

div.wrapper
  > div.container9
  > div.con9-left
  > div
  > div.con9-img
  > div
  > div
  > p {
  display: inline-block;
  vertical-align: top;
  font-family: sans;
  font-size: 12px;
  white-space: nowrap;
  line-height: 26px;
  color: #b12ba4;
}
div.wrapper > div.container9 > div.con9-right {
  display: inline-block;
  vertical-align: top;
  width: 384px;
  height: 356px;
  margin-left: 12px;
  direction: rtl;
  padding-right: 30px;
  padding-top: 25px;
  position: relative;
}

div.wrapper > div.container9 > div.con9-right > img:nth-of-type(1) {
  cursor: pointer;
}

div.wrapper > div.container9 > div.con9-right > p {
  color: white;
  font-family: sans2;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 25px;
}

div.wrapper > div.container9 > div.con9-right > a {
  color: white;
  font-family: sans2;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px 0;
  padding-right: 17px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

div.wrapper > div.container9 > div.con9-right > a > i {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 12px;
  margin-top: 2px;
}

div.wrapper > div.container9 > div.con9-right > img:nth-of-type(2) {
  width: 370px;
  position: absolute;
  right: 18px;
  bottom: 2px;
}

/* end container9 (دیجی پلاس) */
